{% extends 'eatexpress/base.html' %}
{% load static %}


{% block content %}

<section class="service" id="service">
    <h4>Services</h4>
    <div class="service-content">
        <div class="inner-box">
            <img src="{% static 'images/pics2.jpg' %}" alt="">
            <h2>Free Delivery</h2>
            <p>Enjoy our mouthwatering dishes with the added delight of free delivery to your doorstep today.</p>
        </div>
        <div class="inner-box">
            <img src="{% static 'images/pics3.jpg' %}" alt="">
            <h2>Online Payment</h2>
            <p>Complete your order now and await the prompt delivery of your delicious meal.</p>
        </div>
        <div class="inner-box">
            <img src="{% static 'images/pics1.jpg' %}" alt="">
            <h2>Fresh Food</h2>
            <p>Our food are especially picked from the best farms and stores to ensure you have the best of the best.</p>
        </div>
    </div>
</section>

{% endblock content %}